<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to Our Trip Planner</h1>
      <p>
        Write the city you are planning to travel to and the date to get how
        many days left for your trip, a forcasted temprature and a forcasted
        wheather
      </p>
    </header>

    <main>
      <section class="form-section">
        <form id="travel-form">
          <label for="place">Destination:</label>
          <input
            type="text"
            id="place"
            name="place"
            placeholder="Enter a place"
            required
          />

          <label for="date">Date:</label>
          <input
            type="text"
            id="date"
            name="date"
            placeholder="MM/DD/YY"
            required
          />

          <button type="submit">Add Trip</button>
        </form>
      </section>

      <section id="results-section">
        <!-- Cards will be dynamically inserted here -->
      </section>
    </main>

    <script type="module" src="./index.js"></script>
  </body>
  <script>
    // Check that service workers are supported
    if ("serviceWorker" in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener("load", () => {
        navigator.serviceWorker.register("/service-worker.js");
      });
    }
  </script>
</html>
